name: Build Desktop EXE
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8
          
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Dependencies
        # We are moving into the client folder to avoid the workspace error
        run: |
          cd apps/client
          pnpm install --no-frozen-lockfile

      - name: Build Web App
        run: |
          cd apps/client
          pnpm run build
        env:
          NODE_ENV: production

      - name: Build Tauri EXE
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: apps/client
          tagName: v1.0.3
          releaseName: "Local Offline Build"
