name: Build Desktop EXE
on: [workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install & Build Web App
        working-directory: apps/client
        run: |
          pnpm install --no-frozen-lockfile --ignore-workspace
          pnpm run build
        env:
          NODE_ENV: production

      - name: Build Tauri EXE
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          projectPath: apps/client
          tagName: v1.0.7
          releaseName: "Local Offline Build"
